.song {
    width: 30%;
    margin: 5px;
    display: flex;
    flex-direction: horizontal;
    justify-content: space-between;
    background-color: rgba(162, 216, 254, 0.211);
    border-radius: 7px 40% 40% 7px;
}

.song * {
    margin: 0;
}

section {
    padding: 5px;
}

img {
    border-radius: 0 40% 40% 0;
}