.song {
    width: 30%;
    margin: 5px auto;
    display: flex;
    flex-direction: horizontal;
    justify-content: space-between;
    background-color: rgba(162, 216, 254, 0.841);
    border-radius: 7px;
}

.song * {
    margin: 0;
}

section {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

img {
    border-radius: 0 7px 7px 0;
}

audio {
    margin: auto 0 0 0;
}